html, body, #layout_main { height: 100%; }
body > #layout_main { height: auto; min-height: 100%; }

body
{
    background-color: #F5F5EF;
    background-repeat: no-repeat;
}

#layout_main
{
    width:960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

#layout_content
{
    padding-bottom: 200px;
}

#winslows-layout-header-logo-container
{
    width: 960px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}

#winslows-layout-header-content-container
{
    width: 960px;
    height:78px;
    background-image:url('/img/winslows/layout/header_bg_grad.png');
    border-top: solid 2px #D90000;
    border-bottom: solid 2px #D90000;
    position:relative;
}
#winslows-layout-header-contact-info
{
    color:#0046AD;
    font-family: Kalinga;    
    padding-top: 0px;
    position: absolute;
    right: 25px;
    bottom: 0px;
    font-size:10pt;
}

#winslows-layout-footer 
{
    clear: both;
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    height: 202px;
    margin-top: -202px;
}

#winslows-layout-content 
{
    width: 960px;
    background-color: #FFF;
}

#get-started-button-img
{
    position: absolute;
    top: 30px;
    right: 340px;
}

#winslows-layout-footer-content-container
{
    position: relative;
    width: 960px;
    border-top: solid 2px #D90000;
}

#footer-div-1
{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 380px;
    height: 190px;
    overflow: scroll;
}
/*#our-partners-links-footer
{
    margin-left: 35px;
}*/

#footer-div-2 
{
    width: 375px;
    float: left;
}

#footer-div-3
{
    
    float: right;
    width: 182px;
    border-left: dotted 1px #999999;
}

#footer-div-3 li
{
    padding: 5px;
    margin-top: 10px;
    right: 15px;
    font-size: 8pt;
}
        
#menu_container
{
    position: relative;
}

#body-links
{
    position: absolute;
    top: 10px;
    right: 15px;
}

#body-links a
{
    font-family: Kalinga;
    text-decoration:none;
    color:#0046AD;
    font-size:10pt;
    padding-right:10px;
}

#body-links a:visited
{
    color:#000000;
}

#body-links a:hover
{
    text-decoration:underline;
}

#search-bar
{
    position: absolute;
    right: 20px;
    top: 15px;
}

#social-media-links-footer
{
    text-align: center;
    bottom: 0px;
    padding: 4px;
}
