/* 
    Document   : global
    Created on : Nov 28, 2010, 9:47:10 PM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/
/*
   Colors:
   red:		#AC0940
   blue:	#07527D
   white:	#FFF
   Gray:	#A49C9A
   Dark Gray:	#333333
   black:	#000
*/

root { 
    display: block;
}

body{
    background-color: #9CF;
    width:100%;
    padding:0px;
    margin:0px;
    height:100%;
}

table{
    border-collapse: collapse;
}

.ribbon_box{
    width:100%;
    border: solid 1px #e7e2e2;
    padding: 8px;
    margin-top: -12px;
    text-align: left;
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 900;
    font-size: 14px;
    border-top: none;
    color:gray;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
}
