/*
    Document   : layout.css
    Created on : Nov 28, 2010, 8:21:16 AM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/

/*
   Colors:
   red:		#AC0940
   blue:	#07527D
   white:	#FFF
   Gray:	#A49C9A
   Dark Gray:	#333333
   black:	#000
*/
root {
    display: block;
}

html, body {
height:100%;/* needed to base 100% height on something known*/
text-align:center;
width: 100%;
background-color: #829bd2;
background-image: url("/img/texwin/home/texas.png");
background-repeat: repeat;
}

td{
    vertical-align: top;
}

#main_body_cont{
    min-height: 500px;
    width: 960px;
    padding:0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#main_body_cont td{
    padding:0px;
    margin: 0px;
}

#main_body_cont tr{
    padding:0px;
    margin: 0px;
}

#page_top{
    background-image: url("/img/texwin/home/page_top_gray.png");
    height: 21px;
    clear: both;
}

#page_content{
    background-color: #dfe5eb;
    background-image: url("/img/texwin/home/page_middle_gray.png");
    min-height: 500px;
    padding-top: 5px;
    padding: 0px;
    overflow: hidden;
    text-align: left;
}

#page_bottom{
    background-image: url("/img/texwin/home/page_bottom_gray.png");
    height: 21px;
    clear: both;
}

#main_sidebar{
    line-height: 26px;
    margin-top:150px;
}

#side_windmillfill{
/*    background-image: url("../img/texwin/home/windmill.png");*/
    height: 19px;
    width:100%;
}

#side_bar_container{
    width: 200px;vertical-align: top;
    background-color: #dfe5eb;
    background-image: url("/img/texwin/home/windmill.png");
    background-repeat: no-repeat;
}

#content_container{
    padding: 0px;
    overflow: hidden;
    background-color: #dfe5eb;
}

#logo_bg{
    background-image: url("/img/texwin/home/bluebonnets_logo_bg.png");
    width:741px;
    height: 140px;
}

#sidebar_links{
    width: 200px;
    text-align: right;
    color: #8c8c8c;
/*    font-style: italic;*/
    margin-right: 8px;
}

.sidebar_link{
    text-decoration: none;
    color: #453FA1;
    font-size: 15px;
    border-bottom: solid 1px #ABABAB;
    border-right: solid 1px #ABABAB;
    border-top: solid 1px #F4F4F4;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.sidebar_link:hover{
    color: #000000;
    font-style: italic;
}

/********footer******/
#footer {/* footer now sits at bottom of window*/
	background-repeat: repeat-x;
	width:910px;
	margin:auto;
	margin-left: 20px;
	height:162px;/* must match negative margin of #outer */
	clear:both;
	text-align: center;
}

div.copyright{float:left;clear:none;height:10px;width:100%;text-align:center;vertical-align:bottom;color:gray;font-size:10px;font-weight:400;}
div.nav_foot_container{clear:none;float:left;width:23%;margin-left:5px;margin-right:12px;margin-top: 8px;}
div.nav_foot_container div{font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:700;color:gray;width:100%;border-bottom:1px solid #FFF;text-align:left;}
div.nav_foot_container ul{list-style:none outside none;margin-top: 2px;}
div.nav_foot_container li{line-height:12px;text-align:left;color:gray;font-size:10px;font-weight:400;}
div.nav_foot_container li.addr{color:gray;}
div.nav_foot_container a{font-weight:400;}

/*a{font-size:10px;font-weight:700;text-decoration:none;}
a:hover{color:#000;}*/

.chatlink{
    color: green;
    font-weight: 600;
    font-size: 12pt;
}

.chatlink :hover{
    color: darkgrey;
}



