/* 
    Document   : builder-green
    Created on : Apr 5, 2012, 9:38:28 AM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#builder_container h4 {
    color:green;
}

.form_div legend{
    color:green;
}

