/*
    Document   : layout.css
    Created on : Nov 28, 2010, 8:21:16 AM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/

/*
   Colors:
   red:		#AC0940
   blue:	#07527D
   white:	#FFF
   Gray:	#A49C9A
   Dark Gray:	#333333
   black:	#000
*/

html{
    height: 100%;
}

body{
    background-image: url("/img/main_bg.png");
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    height: 100%;
}

.main_outer{
    margin: auto;
    width: 960px;
    margin-bottom: 30px;
    min-height: 500px;
    background-color: #FFF;
    border-left:solid 1px #989797;
    border-right:solid 1px #989797;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#top_header{
    width:100%;
    height: 50px;
}

#nav_container{
    background-color: #BDD2FF;
    width:100%;
    height: 42px;
    clear: both;
}

#nav_filler{
    width:100%;
    height: 40px;
    border-top: solid 1px #989797;
    border-bottom: solid 1px #989797;
    background-image: url("/img/nav_bg.png");
}

.main_header{
    width:100%;
    height: 40px;
    background-color: #7C8AFC;
    -moz-box-shadow: inset 0 0 2px #FFF;
    -webkit-box-shadow: inset 0 0 2px #FFF;
}

.logo_cont{
    float: left;
    color: #FFF;
    padding: 5px;
}

.logo{
    font-weight: 600;
    font-size: 26px;
    text-shadow: 0 2px 2px rgba(0,0,0,.7);
}