/* 
    Document   : gallery
    Created on : Jan 14, 2013, 9:00:41 AM
    Author     : hwalker
    Description:
        Purpose of the stylesheet follows.
*/

#gallery-main-container
{
    margin: auto;
/*    height: 435px;*/
    width: 960px;
}

#gallery-header-container-left
{
    width: 476px;
/*    height: 40px;*/
    float: left;
}

#gallery-header-container-right
{
    width: 476px;
/*    height: 40px;*/
    float: right;
}

#gallery-header-content-left h1
{
    width: 102px;
    font-family: Kalinga;
    color:#0046AD; 
    font-size: 14pt;
    text-decoration: underline;
    padding-left: 5px;
    padding-top: 10px;
}

#gallery-header-content-right h1
{
    width: 102px;
    font-family: Kalinga;
    color:#0046AD; 
    font-size: 14pt;
    text-decoration: underline;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}

#gallery-left-navigation
{
    width: 145px;
/*    height: 388px;*/
    float: left;
    padding-top: 10px;
}

#gallery-left-navigation a
{
    width: 115px;
    font-family: Kalinga;
    color:#0046AD;
    font-size: 8pt;
}

#gallery-left-navigation ul
{
    width: 115px; 
    padding-left: 5;
}

#gallery-left-navigation h3
{
    width: 110px;
    font-family: Kalinga;
    color:#0046AD; 
    font-size: 10pt;
}

#gallery-left-navigation li
{
    width: 110px;
    font-family: Kalinga;
    color:#0046AD; 
    font-size: 10pt;
    padding: 5px;
}

#gallery-library-container
{
      width:800px;
/*      height: 700px;*/
      float: right;
      margin-right: 10px;
/*      border: solid #cc33ff 1px;*/
}

.div-img
  {
  margin:2px;
/*  border:1px solid #0000ff;*/
/*  height:auto;*/
  width:auto;
  float:left;
  text-align:center;
  }
  
.div-img-img
  {
  display:inline;
  margin:3px;
/*  border:1px solid #ffffff;*/
  }
  
.div-img a:hover img
  {
/*  border:1px solid #0000ff;*/
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  }
  
.div-desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }
  
.grid_element
{
  display: inline-block;
  width: 240px;
/*  height:200px;*/
  zoom: 1;         /* for IE */
  display*:inline; /* for IE */
  padding: 3px;
}

#gallery-background-container
{
    background-image:url('/img/winslows/layout/body_bg_grad.png');
    background-repeat: repeat-x;
    min-height: 700px;
    width: 960px;
    background-position:bottom;
   
}

root
{ 
    display: block;
}

