#inventory_filter_container
{
    width: 195px;
    float:left;
    padding-left: 5px;
}

#inventory_filter_container ul
{
    padding-left: 5px;
    font-size: 14px;
}

#inventory_main_container
{
    width: 760px;
    float: right;
}

#inventory_inner_container
{
    
}

#inventory_main_container h2
{
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
}

#inventory_main_container p
{
    padding: 0;
    margin: 0;
    padding-left: 5px;
    font-size: 12px;
    color: gray;
}

#inventory_main_container hr
{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #7C8AFC;
    margin: 1em 0; padding: 0;
}

.inventory_table_outer_container
{
    width:600px;
    overflow: auto;
    width: 760px;
}

.inventory_table_inner_container
{
    width:10000px;
}

.inventory_table
{
    font-size: 10px;
    text-align: center;
}

.inventory_table th
{
    padding: 5px;
    width:150px;
}

.inventory_table th h4
{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #7C8AFC;
}

.inventory_table td
{
    padding: 5px;
    font-size: 12px;
}

.inventory_table .info_cell
{
    border:solid 1px #DAD8D8;
}

.inventory_table .buy_cell
{
    width:70px;
    color: red;
    font-weight: 700;
}