/* 
    Document   : carports
    Created on : Sep 18, 2011, 11:14:39 AM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#builder{
/*    background-color: #0052CC;*/
    padding: 0px;
    border-collapse: collapse;
    font-size: 11px;
}

#builder fieldset{
    border-color: #99ffff;
}

#builder td{
    vertical-align: top;
    padding: 5px;
}

#builder .header{
    text-align: center;
    font-weight: 600;
    color: #0052CC;
    border-bottom: solid 1px silver;
    padding: 8px;
}

#builder .footer{
    text-align: center;
    color: #0052CC;
    border-top: solid 1px silver;
    padding: 8px;
}

#builder .options_header{
    background-color: #829bd2;
    text-align: center;
    font-size: 14px;
    color: white;
}

#builder #left_list {
    list-style: none;
    width:100px;
    padding-left: 10px;
    padding-top: 10px;
}

#builder #left_list li{
    margin: 0px;
    padding: 0px;
    border: solid 1px silver;
    background-color: #FFF;
}

#builder .builders_tables{
    margin: 0px;
    padding: 0px;
    height: 200px;
    border-collapse: collapse;
}

#builder .builders_tables td{
    padding:0px;
    margin:0px;
}

#builder .builder_end{
    width:265px;
    height: 200px;
    background-image: url('../img/texwin/builder/builder_front.png');
    background-repeat: no-repeat;
}

#builder .covered_ends{
    width:265px;
}

#builder #covered_ends_front_top{
    height: 77px;
    background-image: url('../img/texwin/builder/builder_front_top.png');
    background-repeat: no-repeat;
    display: none;
}

#builder #covered_ends_front_bottom{
    height: 123px;
    background-image: url('../img/texwin/builder/builder_front_bottom.png');
    background-repeat: no-repeat;
    display: none;
    padding-left:70px;
    vertical-align: bottom;
}

#builder #covered_ends_back_top{
    height: 77px;
    background-image: url('../img/texwin/builder/builder_front_top.png');
    background-repeat: no-repeat;
    display: none;
}

#builder #covered_ends_back_bottom{
    height: 123px;
    background-image: url('../img/texwin/builder/builder_front_bottom.png');
    background-repeat: no-repeat;
    display: none;
    padding-left:70px;
    vertical-align: bottom;
}

#builder .builder_side{
    height: 200px;
    width:530px;
    background-image:  url("../img/texwin/builder/builder_side.png");
    background-repeat: no-repeat;
}

#builder .covered_sides{
    width:530px;
}

#builder .covered_roof{
    width:530px;
}

#builder #covered_sides_left_roof{
    background-image: url("../img/texwin/builder/builder_side_roof.png");
    background-repeat: no-repeat;
    height: 78px;
}

#builder #covered_sides_left_middle{
    background-image: url("../img/texwin/builder/builder_side_middle.png");
    background-repeat: no-repeat;
    height: 33px;
    display: none;
}

#builder #covered_sides_left_bottom{
    background-image: url("../img/texwin/builder/builder_side_bottom.png");
    background-repeat: no-repeat;
    height: 90px;
    display: none;
    padding-left:140px;
    vertical-align: bottom;
}

#builder #covered_sides_right_roof{
    background-image: url("../img/texwin/builder/builder_side_roof.png");
    background-repeat: no-repeat;
    height: 78px;
}

#builder #covered_sides_right_middle{
    background-image: url("../img/texwin/builder/builder_side_middle.png");
    background-repeat: no-repeat;
    height: 33px;
}

#builder #covered_sides_right_bottom{
    background-image: url("../img/texwin/builder/builder_side_bottom.png");
    background-repeat: no-repeat;
    height: 90px;
    display: none;
    padding-left:140px;
    vertical-align: bottom;
}

#builder .door_image{
    vertical-align: bottom;
    margin-bottom:20px;
    display:none;
}

#builder .window_image{
    vertical-align: bottom;
    margin-bottom:50px;
}

#builder .rollup_image{
    vertical-align: bottom;
    margin-bottom:20px;
    width:80px;
}

/****accordian****/
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 120px;
}

ul.menu a {
  display: block;
  text-decoration: none;
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a, ul.menu ul.menu li a {
  background: #829bd2;
  color: #fff;
  padding: 0.5em;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  background: #000;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: #c00;
}
div.panel {
    border: 1px #000 solid;
    padding: 5px;
    margin-top: 1px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}

ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}

