/* 
    Document   : inventory
    Created on : Sep 4, 2011, 2:25:24 PM
    Author     : Jessie
    Description:
        Purpose of the stylesheet follows.
*/

#inventory{
    border-collapse: collapse;
}

#inventory th{
    background-color: lightblue;
    border: solid 1px #0052CC;
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
}

