/* 
    Document   : products
    Created on : Jan 15, 2012, 6:12:59 PM
    Author     : Jessie
    Description:
        Products
*/

#products_menu{
    width:700px;
    font-size: 10px;
    font-weight: 100;
    font-family: sans-serif;
}

#products_menu div a{
    color: inherit;
    text-decoration: none;
}

#products_menu .details{
    float:right;width:335px;
    margin: 10px;
    margin-left: 5px;
}

#products_menu div:hover{
    color: #616161;
}

#products_menu .category_container{
    width:700px;
    vertical-align: middle;
    background-color: #eeecec;
    border: solid 1px gray;
    margin-bottom: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

#products_menu .left_cont{
    float:left;
    width:335px;
    margin: 10px;
    margin-right: 5px;
}

#products_menu .left_cont img{
    width: 335px;
    margin-top: 8px;
    border: solid 1px gray;
}

#products_menu .starting_at{
    background-color: #ff9999;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    font-size: 14px;
    font-style: italic;
    width: 335px;
    border: solid 1px #cc0000;
    float: left;
    margin-bottom: 10px;
}

#products_menu .category{
    background-color: #829bd2;
    color: white;
    font-weight: 600;
    padding:3px;
    padding-left: 12px;
    width: 695px;
    font-size: 14px;
}

#products_menu .sub_header{
    font-weight: 600;
    background-color: #0092ef;
    color: #FFF;
    padding-left: 5px;
    font-size: 13px;
    font-style: italic;
}

#products_menu .sub_items{
    background-color: #d9e4fe;
    color: #0092ef;
    padding-left: 5px;
    border: solid 1px #0092ef;
    border-top: none;
}

#products_menu #see_more{
    width:60px;border: none;
    margin-top: -71px;
    left:0px;
    color: #0092ef;
    clear: both;
    z-index: 900;
}

.view_main_image{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: solid 1px silver;
}

.view_thumbs{
    width: 300px;
    height: 75px;
    border: solid 1px silver;
}

