html, body, #layout_main { height: 100%; }
body > #layout_main { height: auto; min-height: 100%; }

body
{
    background-color: #F5F5EF;
    background-repeat: no-repeat;
}

#layout_main
{
    width:960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

#layout_content
{
    padding-bottom: 200px;
}

#winslows-layout-header-logo-container
{
    width: 960px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}

#winslows-layout-header-content-container
{
    width: 960px;
    height:78px;
    background-image:url('/img/winslows/layout/header_bg_grad.png');
    border-top: solid 2px #D90000;
    border-bottom: solid 2px #D90000;
    position:relative;
}
#winslows-layout-header-contact-info
{
    color:#0046AD;
    font-family: Kalinga;    
    padding-top: 0px;
    position: absolute;
    right: 25px;
    bottom: 0px;
    font-size:10pt;
}

#winslows-layout-footer 
{
    clear: both;
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    height: 202px;
    margin-top: -202px;
}

#winslows-layout-content 
{
    width: 960px;
    background-color: #FFF;
}

#get-started-button-img
{
    position: absolute;
    top: 30px;
    right: 340px;
}

#winslows-layout-footer-content-container
{
    position: relative;
    width: 960px;
    border-top: solid 2px #D90000;
    height: 201px;
}

#footer-div-1
{
    float: left;
    width: 380px;
    height: 181px;
    overflow: scroll;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-div-2 
{
    
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    width: 375px;
    height: 200px;
}

#footer-div-2 h3
{
    font-family: Kalinga;
    text-decoration:none;
    color:#0046AD;
    font-size: 15pt;
    text-align:center;
    
}

#footer-div-3
{
    
    float: left;
    width: 182px;
    height: 201px;
    border-left: dotted 1px #999999;
}

#footer-div-3 li
{
    padding: 5px;
    margin-top: 10px;
    right: 15px;
    font-size: 8pt;
}
        
#menu_container
{
    position: relative;
}

#body-links
{
    position: absolute;
    top: 10px;
    right: 15px;
}

#search-bar
{
    position: absolute;
    right: 20px;
    top: 7px;
    
}

